{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "rules": {

    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-var-requires" : "off",
    "@typescript-eslint/ban-types": "off",
    "no-use-before-define": [0],
    "eqeqeq" : "off",
    "react/prop-types": "off",
    "no-unused-expressions": "off",
    "react/no-unescaped-entities": "off",
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "semi": 0
  },
  "settings": {
    "import/resolver": {
      "root-import": {
        "rootPathPrefix": "~app",
        "rootPathSuffix": "src",
        "extensions": [".js", ".ts", ".tsx", ".jsx", ".mdx"]
      }
    },
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
